<div class="header-container bg-white shadow-md border-b">
  <div class="header-wrapper flex justify-between items-center px-10 py-4">
    <div
      class="logo-container flex-none flex items-center text-xl font-bold text-gray-800"
    >
      <a href="/" class="hover:text-blue-600 transition-colors"> Clustr </a>
    </div>

    <!-- Push this container to the right with ml-auto -->
    <nav class="space-x-4 flex items-center">
      <% if (!user) { %>
      <!-- Show when user not logged in -->
      <a
        href="/auth/login"
        class="hover:text-blue-600 transition-colors cursor-pointer"
      >
        Login
      </a>
      <a
        href="/auth/register"
        class="hover:text-blue-600 transition-colors cursor-pointer"
      >
        Register
      </a>
      <% } else { %>
      <!-- Show when user IS logged in -->
      <span class="text-gray-700">Hi, <%= user.name || user.email %></span>
      <form action="/auth/logout" method="post">
        <button
          class="px-4 py-1 font-semibold border border-gray-400 rounded bg-red-50 hover:bg-red-100 hover:text-red-500 transition cursor-pointer"
        >
          Logout
        </button>
      </form>

      <% } %>
    </nav>
  </div>
</div>
