<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/build.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="flex flex-col min-h-screen bg-gray-50">
    <!-- Header -->
    <%- include('partials/header')%>

    <!-- Hero Section -->
    <main class="flex-grow flex items-center justify-center text-center px-6">
      <div>
        <h1 class="font-roboto text-8xl font-black text-gray-900">
          WELCOME TO <span class="text-blue-600 underline">Clustr.</span>
        </h1>

        <p class="mt-6 text-lg md:text-xl text-gray-700 max-w-2xl mx-auto">
          Organize your <span class="font-semibold">files</span>,
          <span class="font-semibold">folder</span>, and
          <span class="font-semibold">relations</span> seamlessly.
        </p>
        <div class="mt-10 space-x-4">
          <a
            href="/auth/login"
            class="px-6 py-3 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 transition-colors text-lg font-semibold cursor-pointer"
          >
            Get Started
          </a>
          <a
            href="/auth/register"
            class="px-6 py-3 bg-gray-200 text-gray-800 rounded-lg shadow hover:bg-gray-300 transition-colors text-lg font-semibold cursor-pointer"
          >
            Register
          </a>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>
  </body>
</html>
